/* src/components_css/Profile.css */
.profile-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Limit max width */
    margin: 20px auto; /* Center the profile section */
    text-align: center; /* Center text */
}

.profile-metrics {
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Space items evenly */
}

.metric-card {
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    flex: 1; /* Equal width for cards */
    margin: 10px; /* Space between cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

.inspiring-stories h2{
    color:#ddd;
}

.inspiring-stories {
    color:#ddd;
}